name: Build and test

on:
  pull_request:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - develop
      - main

jobs:
  debug_build:
    name: Debug build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Build
        run: ./gradlew assembleDebug

  release_build:
    name: Release build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Build
        run: ./gradlew assembleRelease

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Unit tests
        run: ./gradlew testDebug --stacktrace

      - name: Upload testDebugUnitTest results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: testDebugUnitTest
          path: ./**/build/reports/tests/testDebugUnitTest